<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1052485448041-87i7dt9757ms0uru42i2qnej790o5c6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052485448041-87i7dt9757ms0uru42i2qnej790o5c6v</string>
	<key>API_KEY</key>
	<string>AIzaSyBUvATK95FwFe_hMA5BPFAag3riLwlX-uo</string>
	<key>GCM_SENDER_ID</key>
	<string>1052485448041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.PickHacks2019</string>
	<key>PROJECT_ID</key>
	<string>pickhacks2019-b70f2</string>
	<key>STORAGE_BUCKET</key>
	<string>pickhacks2019-b70f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052485448041:ios:3774b45c832b61ac</string>
	<key>DATABASE_URL</key>
	<string>https://pickhacks2019-b70f2.firebaseio.com</string>
</dict>
</plist>